
@model BrowserGame_courseSimbirSoft_.Models.Character
@{
    ViewData["Title"] = "Transform";
}

<h1>Transform</h1>
<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Transform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race" class="control-label">Race</label>
                <input asp-for="Race" class="form-control" />
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ability" class="control-label">Ability</label>
                <input asp-for="Ability" class="form-control" />
                <span asp-validation-for="Ability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label">Class</label>
                <input asp-for="Class" class="form-control" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Backward</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
